---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer a6e8eeb34e2d35eb28b37caf4713a058
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Thu, 29 Dec 2022 21:35:11 GMT
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2022-12-29T21:46:45+00:00'
      X-Actionlimit-Limit:
      - '10'
      X-Actionlimit-Remaining:
      - '10'
      X-Actionlimit-Reset:
      - '2022-12-29T21:46:45+00:00'
      Request-Hash:
      - c2dbc9f8
      X-Bapp-Server:
      - api-6986f49849-mskj2
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"total":0,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/me/videos?page=1","last":"/me/videos?page=1"},"data":[]}'
  recorded_at: Thu, 29 Dec 2022 21:45:45 GMT
recorded_with: VCR 6.1.0
