---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users/4111735/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDFhMzgwYjUwYzBlMDM3NGFlYzQyYzYwNTU2YzI3ODZlZTEzZWVmZjpkanBCaFV1RUNOYldKNzJOVXZXTVAxQlAyM2dyeGxNWEhIcWhFcUd5ekJ1VTdlQmJXaXg0ald1MURhcS9DZnJMSkI3UlY4TVdzRFc3NXVBUnVnRFNnL29QWnR0dWs1MGlQK1ZXZWtMb3NDQUtzTW5DNVhRR3BPM1NNZXJtbW1qOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Wed, 28 Dec 2022 02:21:24 GMT
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2022-12-28T02:24:36+00:00'
      X-Actionlimit-Limit:
      - '10'
      X-Actionlimit-Remaining:
      - '10'
      X-Actionlimit-Reset:
      - '2022-12-28T02:24:36+00:00'
      Request-Hash:
      - c0208017
      X-Bapp-Server:
      - api-666d9c7c7d-l8698
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"total":28,"page":1,"per_page":25,"paging":{"next":"/users/4111735/videos?page=2","previous":null,"first":"/users/4111735/videos?page=1","last":"/users/4111735/videos?page=2"},"data":[{"uri":"/videos/697485076","name":"Ask
        Zillow Anything - Pilot","description":null,"type":"video","link":"https://vimeo.com/697485076","player_embed_url":"https://player.vimeo.com/video/697485076?h=545673a8c6","duration":1122,"width":1920,"language":null,"height":1080,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/697485076?h=545673a8c6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=260485\"
        width=\"1920\" height=\"1080\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture\" allowfullscreen title=\"Ask Zillow Anything - Pilot\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false}},"created_time":"2022-04-08T17:57:53+00:00","modified_time":"2022-11-18T18:55:45+00:00","release_time":"2022-04-08T17:57:53+00:00","content_rating":["unrated"],"content_rating_class":"unrated","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/697485076/pictures/1410560106","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/1410560106-1bcc09e92011c2a2600d5a4d85b1b7d39c4488ae47fd1adb925011c1e5aee6e8-d","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/1410560106-1bcc09e92011c2a2600d5a4d85b1b7d39c4488ae47fd1adb925011c1e5aee6e8-d_100x75?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1410560106-1bcc09e92011c2a2600d5a4d85b1b7d39c4488ae47fd1adb925011c1e5aee6e8-d_100x75&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/1410560106-1bcc09e92011c2a2600d5a4d85b1b7d39c4488ae47fd1adb925011c1e5aee6e8-d_200x150?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F14[...]
