---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer a6e8eeb34e2d35eb28b37caf4713a058
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - Sat, 31 Dec 2022 01:57:10 GMT
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2022-12-31T02:02:01+00:00'
      X-Actionlimit-Limit:
      - '10'
      X-Actionlimit-Remaining:
      - '10'
      X-Actionlimit-Reset:
      - '2022-12-31T02:02:01+00:00'
      Request-Hash:
      - d0926250
      X-Bapp-Server:
      - api-6986f49849-4sk8c
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"total":1,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/me/videos?page=1","last":"/me/videos?page=1"},"data":[{"uri":"/videos/785324724","name":"Colin
        Jilbert-FS Noseslide (Freight Elevatorz 2).mov","description":null,"type":"video","link":"https://vimeo.com/785324724","player_embed_url":"https://player.vimeo.com/video/785324724?h=391c95a82e","duration":3,"width":1280,"language":null,"height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/785324724?h=391c95a82e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=260485\"
        width=\"1280\" height=\"720\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture\" allowfullscreen title=\"Colin Jilbert-FS Noseslide (Freight
        Elevatorz 2).mov\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false},"buttons":{"watchlater":true,"share":true,"embed":true,"hd":false,"fullscreen":true,"scaling":true,"like":true},"logos":{"vimeo":true,"custom":{"active":false,"url":null,"link":null,"sticky":false}},"title":{"name":"user","owner":"user","portrait":"user"},"end_screen":[],"playbar":true,"pip":true,"autopip":true,"volume":true,"color":"00adef","event_schedule":true,"interactive":false,"uri":null,"speed":true},"created_time":"2022-12-31T01:54:58+00:00","modified_time":"2022-12-31T01:55:40+00:00","release_time":"2022-12-31T01:54:58+00:00","content_rating":["unrated"],"content_rating_class":"unrated","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/785324724/pictures/1578049465","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/1578049465-b9c05821c8c02ef5037066b80b4ee2e96d89412bf3961b079048c4e00e618941-d","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/1578049465-b9c05821c8c02ef5037066b80b4ee2e96d89412bf3961b079048c4e00e618941-d_100x75?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1578049465-b9c05821c8c02ef5037066b80b4ee2e96d89412bf3961b079048c4e00e618941-d_100x75&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/1578049465-b9c05821c8c02ef5037066b80b4ee2e96d89412bf3961b079048c4e00e618941-d_200x150?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F15[...]
