---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users/202558318
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDFhMzgwYjUwYzBlMDM3NGFlYzQyYzYwNTU2YzI3ODZlZTEzZWVmZjpkanBCaFV1RUNOYldKNzJOVXZXTVAxQlAyM2dyeGxNWEhIcWhFcUd5ekJ1VTdlQmJXaXg0ald1MURhcS9DZnJMSkI3UlY4TVdzRFc3NXVBUnVnRFNnL29QWnR0dWs1MGlQK1ZXZWtMb3NDQUtzTW5DNVhRR3BPM1NNZXJtbW1qOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '2022-12-26T15:19:52+00:00'
      Request-Hash:
      - '84029173'
      X-Bapp-Server:
      - api-5d76d4b588-n77pk
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/users/202558318","name":"Collin Jilbert","link":"https://vimeo.com/user202558318","capabilities":{"hasLiveSubscription":false,"hasEnterpriseLihp":false,"hasSvvTimecodedComments":false,"hasSimplifiedEnterpriseAccount":false},"location":"Covington, LA, USA","gender":"","bio":null,"short_bio":null,"created_time":"2022-12-25T23:56:39+00:00","pictures":{"uri":"/users/202558318/pictures/81348807","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/portrait/81348807","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/81348807_30x30"},{"width":72,"height":72,"link":"https://i.vimeocdn.com/portrait/81348807_72x72"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/81348807_75x75"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/81348807_100x100"},{"width":144,"height":144,"link":"https://i.vimeocdn.com/portrait/81348807_144x144"},{"width":216,"height":216,"link":"https://i.vimeocdn.com/portrait/81348807_216x216"},{"width":288,"height":288,"link":"https://i.vimeocdn.com/portrait/81348807_288x288"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/81348807_300x300"},{"width":360,"height":360,"link":"https://i.vimeocdn.com/portrait/81348807_360x360"}],"resource_key":"cd46e2c02aab1b995329f515d67b2aba30b254f6","default_picture":false},"websites":[],"metadata":{"connections":{"albums":{"uri":"/users/202558318/albums","options":["GET"],"total":0},"appearances":{"uri":"/users/202558318/appearances","options":["GET"],"total":0},"channels":{"uri":"/users/202558318/channels","options":["GET"],"total":0},"feed":{"uri":"/users/202558318/feed","options":["GET"]},"followers":{"uri":"/users/202558318/followers","options":["GET"],"total":0},"following":{"uri":"/users/202558318/following","options":["GET"],"total":0},"groups":{"uri":"/users/202558318/groups","options":["GET"],"total":0},"likes":{"uri":"/users/202558318/likes","options":["GET"],"total":0},"membership":{"uri":"/users/202558318/membership/","options":["PATCH"]},"moderated_channels":{"uri":"/users/202558318/channels?filter=moderated","options":["GET"],"total":0},"portfolios":{"uri":"/users/202558318/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/202558318/videos","options":["GET"],"total":0},"shared":{"uri":"/users/202558318/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/202558318/pictures","options":["GET","POST"],"total":1},"folders_root":{"uri":"/users/202558318/folders/root","options":["GET"]},"teams":{"uri":"/users/202558318/teams","options":["GET"],"total":1}}},"location_details":{"formatted_address":"","latitude":null,"longitude":null,"city":null,"state":null,"neighborhood":null,"sub_locality":null,"state_iso_code":null,"country":null,"country_iso_code":null},"skills":[],"available_for_hire":false,"can_work_remotely":false,"resource_key":"4c03419bc7911731a2369a4777948cb00b4f8de2","account":"free"}'
  recorded_at: Mon, 26 Dec 2022 15:19:46 GMT
recorded_with: VCR 6.1.0
