---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer a6e8eeb34e2d35eb28b37caf4713a058
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2022-12-29T21:36:11+00:00'
      Request-Hash:
      - 95e672b4
      X-Bapp-Server:
      - api-6986f49849-p2wf2
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/users/191447207","name":"Collin Jilbert","link":"https://vimeo.com/user191447207","capabilities":{"hasLiveSubscription":false,"hasEnterpriseLihp":false,"hasSvvTimecodedComments":false,"hasSimplifiedEnterpriseAccount":false},"location":"Covington,
        LA, USA","gender":"","bio":"Writing stories for computers to read.","short_bio":null,"created_time":"2022-12-25T23:56:39+00:00","pictures":{"uri":"/users/191447207/pictures/81348807","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/portrait/81348807","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/81348807_30x30"},{"width":72,"height":72,"link":"https://i.vimeocdn.com/portrait/81348807_72x72"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/81348807_75x75"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/81348807_100x100"},{"width":144,"height":144,"link":"https://i.vimeocdn.com/portrait/81348807_144x144"},{"width":216,"height":216,"link":"https://i.vimeocdn.com/portrait/81348807_216x216"},{"width":288,"height":288,"link":"https://i.vimeocdn.com/portrait/81348807_288x288"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/81348807_300x300"},{"width":360,"height":360,"link":"https://i.vimeocdn.com/portrait/81348807_360x360"}],"resource_key":"cd46e2c02aab1b995329f515d67b2aba30b254f6","default_picture":false},"websites":[],"metadata":{"connections":{"albums":{"uri":"/users/191447207/albums","options":["GET"],"total":0},"appearances":{"uri":"/users/191447207/appearances","options":["GET"],"total":0},"categories":{"uri":"/users/191447207/categories","options":["GET"],"total":0},"channels":{"uri":"/users/191447207/channels","options":["GET"],"total":0},"feed":{"uri":"/users/191447207/feed","options":["GET"]},"followers":{"uri":"/users/191447207/followers","options":["GET"],"total":0},"following":{"uri":"/users/191447207/following","options":["GET"],"total":0},"groups":{"uri":"/users/191447207/groups","options":["GET"],"total":0},"likes":{"uri":"/users/191447207/likes","options":["GET"],"total":0},"membership":{"uri":"/users/191447207/membership/","options":["PATCH"]},"moderated_channels":{"uri":"/users/191447207/channels?filter=moderated","options":["GET"],"total":0},"portfolios":{"uri":"/users/191447207/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/191447207/videos","options":["GET"],"total":0},"watchlater":{"uri":"/users/191447207/watchlater","options":["GET"],"total":0},"shared":{"uri":"/users/191447207/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/191447207/pictures","options":["GET","POST"],"total":1},"watched_videos":{"uri":"/me/watched/videos","options":["GET"],"total":0},"folders_root":{"uri":"/users/191447207/folders/root","options":["GET"]},"folders":{"uri":"/users/191447207/folders","options":["GET","POST"],"total":0},"teams":{"uri":"/users/191447207/teams","options":["GET"],"total":1},"block":{"uri":"/me/block","options":["GET"],"total":0}}},"location_details":{"formatted_address":"Covington,
        LA, USA","latitude":30.4754696,"longitude":-90.100914,"city":"Covington","state":"Louisiana","neighborhood":null,"sub_locality":null,"state_iso_code":"LA","country":"United
        States","country_iso_code":"US"},"skills":[],"available_for_hire":false,"can_work_remotely":false,"preferences":{"videos":{"rating":["unrated"],"privacy":{"view":"anybody","comments":"anybody","embed":"public","download":true,"add":true,"allow_share_link":true}},"webinar_registrant_lower_watermark_banner_dismissed":[]},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"resource_key":"4c03419bc7911731a2369a4777948cb00b4f8de2","account":"free"}'
  recorded_at: Thu, 29 Dec 2022 21:35:11 GMT
recorded_with: VCR 6.1.0
