---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users/4111735
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZDFhMzgwYjUwYzBlMDM3NGFlYzQyYzYwNTU2YzI3ODZlZTEzZWVmZjpkanBCaFV1RUNOYldKNzJOVXZXTVAxQlAyM2dyeGxNWEhIcWhFcUd5ekJ1VTdlQmJXaXg0ald1MURhcS9DZnJMSkI3UlY4TVdzRFc3NXVBUnVnRFNnL29QWnR0dWs1MGlQK1ZXZWtMb3NDQUtzTW5DNVhRR3BPM1NNZXJtbW1qOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '2022-12-28T04:49:57+00:00'
      Request-Hash:
      - c463d93c
      X-Bapp-Server:
      - api-666d9c7c7d-27zsc
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/users/4111735","name":"Fractal Film Co","link":"https://vimeo.com/fractalfilmco","capabilities":{"hasLiveSubscription":false,"hasEnterpriseLihp":false,"hasSvvTimecodedComments":false,"hasSimplifiedEnterpriseAccount":false},"location":"Truckee,
        CA","gender":"o","bio":"FRACTAL Film Co is a full service film production
        company located in mountains of Truckee, CA that specializes in crafting powerful
        commercial, documentary and branded content.\n\nUtilizing cutting edge industry
        cinema tools like the RED Dragon 6K camera, Movi gimbal stabilizers, drones
        and cinema lenses, Fractal strives to tell stories that are not only emotionallycaptivating
        but also visually stunning and uniquely stylized.\n\nOur core team consists
        of Directors, Producers, Cinematographers and Editors with deep roots in the
        industry. We understand the complex process of crafting cinematic stories
        from pre-production through final delivery, and approach every project with
        fresh eyes ready to break the rules. Everyone at Fractal is driven by a perfectionism
        to create enduring images and tell inspiring stories.","short_bio":"FRACTAL
        Film Co is a full service film production company located in mountains of
        Truckee, CA that specializes in crafting powerful commercial, documentary
        and","created_time":"2010-06-23T03:39:27+00:00","pictures":{"uri":"/users/4111735/pictures/17377071","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/portrait/17377071","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/17377071_30x30"},{"width":72,"height":72,"link":"https://i.vimeocdn.com/portrait/17377071_72x72"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/17377071_75x75"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/17377071_100x100"},{"width":144,"height":144,"link":"https://i.vimeocdn.com/portrait/17377071_144x144"},{"width":216,"height":216,"link":"https://i.vimeocdn.com/portrait/17377071_216x216"},{"width":288,"height":288,"link":"https://i.vimeocdn.com/portrait/17377071_288x288"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/17377071_300x300"},{"width":360,"height":360,"link":"https://i.vimeocdn.com/portrait/17377071_360x360"}],"resource_key":"18ab377b86219eb062ffd13c26fd7d7b16bed1eb","default_picture":false},"websites":[{"uri":"/users/4111735/links/4831450","name":"w","link":"http://www.fractalfilmco.com","type":"link","description":null},{"uri":"/users/4111735/links/4831451","name":"Blog","link":"http://blog.westonwalker.com/","type":"link","description":null}],"metadata":{"connections":{"albums":{"uri":"/users/4111735/albums","options":["GET"],"total":3},"appearances":{"uri":"/users/4111735/appearances","options":["GET"],"total":19},"channels":{"uri":"/users/4111735/channels","options":["GET"],"total":2},"feed":{"uri":"/users/4111735/feed","options":["GET"]},"followers":{"uri":"/users/4111735/followers","options":["GET"],"total":166},"following":{"uri":"/users/4111735/following","options":["GET"],"total":73},"groups":{"uri":"/users/4111735/groups","options":["GET"],"total":0},"likes":{"uri":"/users/4111735/likes","options":["GET"],"total":17},"membership":{"uri":"/users/4111735/membership/","options":["PATCH"]},"moderated_channels":{"uri":"/users/4111735/channels?filter=moderated","options":["GET"],"total":0},"portfolios":{"uri":"/users/4111735/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/4111735/videos","options":["GET"],"total":28},"shared":{"uri":"/users/4111735/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/4111735/pictures","options":["GET","POST"],"total":1},"folders_root":{"uri":"/users/4111735/folders/root","options":["GET"]},"teams":{"uri":"/users/4111735/teams","options":["GET"],"total":1}}},"location_details":{"formatted_address":"Truckee,
        CA","latitude":null,"longitude":null,"city":null,"state":null,"neighborhood":null,"sub_locality":null,"state_iso_code":null,"country":null,"country_iso_code":null},"skills":[{"uri":"/marketplace/skills/59","name":"Filmmaker"},{"uri":"/marketplace/skills/17","name":"Director"},{"uri":"/marketplace/skills/57","name":"Editor"},{"uri":"/marketplace/skills/34","name":"Producer"}],"available_for_hire":false,"can_work_remotely":false,"resource_key":"9a3cda5b1994ba038bda67c7465c304724e7078d","account":"plus"}'
  recorded_at: Wed, 28 Dec 2022 04:48:57 GMT
recorded_with: VCR 6.1.0
